* {
	vertical-align: baseline;
	font-family: 'SF UI Display', sans-serif;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
	text-decoration: none;
	}

header {
    background-image: url('../images/header_bg.png');
    min-height: 950px;
    /* min-height: auto; */
    /* height: 100vh; */
    background-size: 100%;
    padding-top: 23px;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
.container-m{
    max-width: 1210px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}
.container {
    max-width: 1840px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    /* transition: 0.01s; */
}

.header__logo {
    display: flex;
    align-items: center;
}

ul.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    max-width: 450px;
    width: 100%;
    margin-left: auto;
    margin-right: 50px;
}

ul {
    list-style: none;
}


.header__logo p {
    font-size: 22px;
    font-weight: 700;
    line-height: 30px;
    color: #000;
    margin-left: 7px;
}

ul.nav__list li a {
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}

h1.header__title {
    margin-top: 147px !important;
    font-size: 50px;
    max-width: 855px;
    margin: 0 auto;
    line-height: 70px;
    text-align: center;
    font-weight: 300;
    animation-delay: 2s;
    margin-bottom: 70px;
}

.header__ask-question a {
    display: inline-block;
    padding: 13px 40px;
    border: 1px solid #007AFF;
    box-sizing: border-box;
    border-radius: 8px;
    color: #007AFF;
    font-weight: 600;
}

.header__ask-question a:hover {
    background: #007AFF;
    color: #fff;
}

section.about__us {
    position: relative;
}

.header__contact-us-wrapper {
    display: flex;
}

.header__contact-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 11px;
}

.header__contact-buttons-wrapper {
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    color: #000000;
    display: flex;
    max-width: 281px;
    position: relative;
    transition: 0.3s all;
    width: 100%;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(142, 192, 207, 0.11);
    border-radius: 5px;
    margin: 0px 7.5px;
    padding: 23px 0px;
    border-bottom: 2px solid #0000ff00;
    z-index: 2;
    cursor: pointer;
}

.header__contact-buttons-wrapper p {
    margin-left: 19px;
}

.header__contact-us p {
    font-size: 14px;
    font-weight: 300;
}
.btn__wrapper-1:hover{
    border-bottom: 2px solid #039BE5;
    transition: 0.3s all;
}
.btn__wrapper-2:hover{
    border-bottom: 2px solid #4CAF50;
    transition: 0.3s all;
}
.btn__wrapper-3:hover{
    border-bottom: 2px solid #7D3DAF;
    transition: 0.3s all;
}

.btn__wrapper-4:hover{
    border-bottom: 2px solid #039BE5;
    transition: 0.3s all;
}
.btn__wrapper-4:active{
     background: #039BE5;
}
.btn__wrapper-3:active{
     background: #7D3DAF;
}
.btn__wrapper-2:active{
     background: #4CAF50;
}
.btn__wrapper-1:visited{
    background: #000;
}
.btn__wrapper-1:active{
     background: #007AFF;
}
.header__contact-buttons-wrapper:active{
    color:#fff;
}
.header__contact-buttons-wrapper:active::before{ 
    transition: 0.3s all;
    background-image: url('..//images/check.svg') !important;
}

.btn__wrapper-4::before {content: '';background: url('..//images/telegram.svg');height: 32px;width: 32px;background-repeat: no-repeat;}
.btn__wrapper-3::before {content: '';background: url('..//images/viber.svg');height: 32px;width: 32px;background-repeat: no-repeat;}
.btn__wrapper-2::before {content: '';background: url('..//images/whatsapp.svg');height: 32px;width: 32px;background-repeat: no-repeat;}
.btn__wrapper-1::before {content: '';background: url('..//images/telephone.svg');height: 32px;width: 32px;background-repeat: no-repeat;}

.inactive {
    color: #CDD7E2;
    border-bottom: 2px solid transparent !important;
}
.inactive.btn__wrapper-4::before {
    background: url('..//images/tg-grey.svg') !important;
    background-repeat: no-repeat;
    height: 31px;
}
.inactive.btn__wrapper-3::before{
    background: url('..//images/viber-grey.svg') !important;
    background-repeat: no-repeat;
    height: 30px;
}
.inactive.btn__wrapper-2::before{
    background: url('..//images/whatsapp-grey.svg') !important;
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
}
.inactive.btn__wrapper-1::before{
    background: url('..//images/telephone-grey.svg') !important;
    background-repeat: no-repeat;
}

.btn__wrapper-1 {
    margin-left: 0;
}

.btn__wrapper-4 {
    margin-right: 0;
}

.special__buttons {
    background: #4CD964;
    box-shadow: 5px 5px 15px rgba(142, 192, 207, 0.11);
    border-radius: 5px;
    max-width: 370px;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
    font-size: 20px;
    padding: 20px 86px;
    letter-spacing: 0.019em;
    text-align: center;
    margin-top: 50px;
    color: #fff;
    cursor: pointer;
}

button.header__leave-contacts:hover {
    background: #52E76B;
}

.animated_icon img {
    position: absolute;
}

img.animated_icon-item5 {
    right: -101px;
    max-width: 456px;
    bottom: 360px;
    z-index: 1;
}

.animated_icon {
    position: relative;
    width: 100%;
    max-width: 1840px;
}

.icona {
    position: absolute;
}

img.animated_icon-item4 {
    bottom: 640px;
    left: 150px;
    z-index: 1;
}

img.animated_icon-item3 {
    bottom: 590px;
    left: 90px;
}

img.animated_icon-item2 {
    bottom: 830px;
    left: 390px;
}

img.animated_icon-item1 {
    bottom: 850px;
    left: 480px;
    z-index: 12;
}

p.services__logo {
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
}

h2.services__title {
    font-weight: 300;
    font-size: 50px;
    line-height: 70px;
    margin-bottom: 32px;
}

.services__subtitle-block1 {
    font-size: 16px;
    line-height: 28px;
    max-width: 489px;
}

.services__subtitle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 320px;
}

.services__subtitle-block1 p {
    font-weight: 300;
}

.services__subtitle-block2 {
    max-width: 541px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
}

.our__services-wrapper {
    margin-top: 40px;
    /* margin-bottom: 320px; */
    margin-top: 250px;
}

.services__details {
    background: url(..//images/services_bg.png);
    background-repeat: no-repeat;
    height: 460px;
    background-size: cover;
    margin-bottom: 364px;
}

.services__details-description h3 {
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    margin-bottom: 25px;
}

.services__details-description p {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

.services__details-description {
    max-width: 410px;
    margin-left: auto;
    margin-right: 160px;
    padding-top: 88px;
}

.services__details-icons {
    position: relative;
}

.services__details-icons img {
    position: absolute;
}

img.services__details-icon2 {
    right: 0;
    top: -50px;
    left: 140px;
}

img.services__details-icon1 {
    top: -130px;
    left: -5%;
}

img.services__details-icon4 {
    left: 440px;
    top: 40px;
}

img.services__details-icon3 {
    left: 350px;
    top: 130px;
}

.shadow {
    background: #F0FBFD;
    transition: 1s all;
}

div#warranty {
    transition: 1s all;
    
}

body#body {
    transition: 1s all;
    overflow: inherit;
}

.warranty h2 {
    font-weight: 300;
    font-size: 50px;
    line-height: 60px;
    text-align: center;
}

.warranty__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
}

.warranty__list ul li {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 30px;
    max-width: 500px;
}

.warranty__description p {
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    max-width: 543px;
    margin-top: 20px;
}

.warranty {
    margin-bottom: 312px;
}



.services__details-description a {
    margin-left: initial;
}

select.header__contact-city {
    width: 100%;
    height: 60px;
    padding: 0 20px;
    appearance: none;
    background-color: #fff;
    position: relative;
    background-image: url('../images/Back_button.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 96%;
    cursor: pointer;
}

select.header__contact-city::before {content: "";background: url(..//images/Back_button.svg);height: 10px;width: 16px;position: absolute;right: 0;bottom: 0;}

.header__form p {
    margin-bottom: 11px;
}
#calendar2 {
  width: 100%;
  line-height: 1.2em;
  font-size: 15px;
  position: absolute;
  z-index: 24;
  text-align: center;
  display: inline-table;
  max-width: 370px;
  background: #fff;
  margin-top: 20px;
  display: none;
  transition: 0.5s easy;
}
#calendar2 thead tr:last-child {
  font-size: small;
  color: rgb(85, 85, 85);
}
#calendar2 thead tr:nth-child(1) td:nth-child(2) {
  color: rgb(50, 50, 50);
}
#calendar2 thead tr:nth-child(1) td:nth-child(1):hover, #calendar2 thead tr:nth-child(1) td:nth-child(3):hover {
  cursor: pointer;
}
#calendar2 tbody td {
  color: rgb(44, 86, 122);
}
#calendar2 tbody td:nth-child(n+6), #calendar2 .holiday {
  color: rgb(231, 140, 92);
}
#calendar2 tbody td.today {
  background: rgb(220, 0, 0);
  color: #fff;
}

.header__form {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 48px;
}

.header__form-wrapper1 {
    max-width: 370px;
    width: 100%;
}

div#input_date {
    max-width: 370px;
    background: #fff;
    width: 100%;
    text-align: left;
    padding: 19px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.header__form-wrapper2 {
    max-width: 370px;
    width: 100%;
    position: relative;
}


.block{
    display: inline-table !important;
    transition: 0.5s easy;
}
p#input_change {
    margin: 0;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
}

img.icon_calendar {
    display: block;
    cursor: pointer;
}
select#country {
    width: 100px;
    max-width: 70px;
    margin-left: 14px;
    cursor: pointer;
    background: #fff;
}

.form-group {
    display: flex;
    max-width: 370px;
    width: 100%;
    background: #fff;
    padding: 18px 10px;
    box-sizing: border-box;
}

.header__form-wrapper3 {
    max-width: 370px;
    width: 100%;
    z-index: 3;
}

input#phone {
    margin-left: 15px;
    cursor: pointer;
}
@media  screen and  (max-height: 770px)  {

    h1.header__title{
        margin-top: 60px !important;
    }
    .our__services-wrapper{
        margin-top: 0 !important;
    }
}
@media  screen and  (min-width: 1920px)  {
    img.animated_icon-item5{
        bottom: 120px;
        max-width: 700px;
        right: -200px;
    }
    img.animated_icon-item4{
        left: 232px;
        bottom: 570px;
    }
    img.animated_icon-item3{
        bottom: 508px;
        left: 163px;
    }
    img.animated_icon-item2{
        left: 527px;
        bottom: 820px;
    }
    img.animated_icon-item1{
        left: 617px;
        bottom: 840px;
    }

}
.special__buttons:hover {
    background: #52E76B;
}

.fixed {
    position: fixed;
    padding: 0 20px;
    background: #fff;
    z-index: 70;
    left: 0;
    top: 0;
    width: 97%;
    padding: 8px 30px;
    transition: 0.1s;
}

section.how__it-works h2 {
    font-weight: 300;
    font-size: 50px;
    line-height: 70px;
    text-align: center;
    margin-bottom: 95px;
}

.check__icon:before {content: '';background: url('..//images/check_icon2.svg');padding: 38px 41px;margin-right: 20px;}

.how__it-works-wrapper {
    max-width: 500px;
    display: flex;
    margin-left: auto;
    /* margin-top: 95px; */
    align-items: center;
    /* height: 300px; */
    margin-bottom: 43px;
}

p.check__icon {
    margin-right: 20px;
}

.how__it-works-wrapper p {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
}

.new::before {
    background: url(..//images/check_ok.svg);
    content: '';
}

div#paralax {
    background: url(..//images/small-cloud1p.svg);
    width: 167px;
    height: 112px;
    margin-top: 200px;
    position: absolute;
    z-index: 2;
    left: -30px;
    background-position: center;
    background-repeat: no-repeat;
}

section.how__it-works {
    position: relative;
    height: 2451px;
}

div#paralax2 {
    background: url(..//images/small_cloud2p.svg);
    width: 177px;
    height: 132px;
    background-position: center;
    /* background-size: cover; */
    margin-top: 50px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
}

div#paralax3 {
    background: url(..//images/small_cloud2p.svg);
    width: 167px;
    height: 112px;
    margin-top: 710px;
    position: absolute;
    z-index: 2;
    left: -10px;
    background-position: center;
    background-repeat: no-repeat;
}

div#paralax4 {
    background: url(..//images/big_cloud.svg);
    width: 167px;
    height: 112px;
    margin-top: 180px;
    position: absolute;
    z-index: 2;
    left: -100px;
    background-position: center;
    background-repeat: no-repeat;
}
.modal {
  display: none;
  position: fixed;
  z-index: 231;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #eefbfe96;
}


.modal-content {
  margin: 15% auto;
  width: 100%;
  background: linear-gradient(90deg, #FFFFFF 18.96%, #E1F4FD 118.97%);
  box-shadow: 10px 10px 20px rgba(142, 192, 207, 0.5);
  border-radius: 13px;
  max-width: 570px;
  position: absolute;
  left: 0;
  box-sizing: border-box;
  padding: 0 90px;
  top: 0;
  right: 0;
  bottom: 0;
  height: 363px;
  z-index: 999999 !IMPORTANT;
}

.close {
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  line-height: 24px;
  width: inherit;
}

.modal-content h3 {
    font-weight: bold;
    font-size: 30px;
    line-height: 45px;
    padding-top: 64px;
    text-align: center;
}

.modal-content p {
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    white-space: pre-wrap;
}
.loader {
  height: 40px;
  width: 40px;
  position: absolute;
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
}
 
.loader:before,
.loader:after {
  content: "";
  height: 40px;
  width: 40px;
  border: 8px solid rgba(255,255,255,.5);
  border-radius: 10px;
  position: absolute;
  top: 0;
}
 
.loader:before {
  animation: animate 2s infinite linear;
}
 
@keyframes animate {
  0% {
    transform: rotate(0) skew(0);
  }
   
  100% {
    transform: rotate(180deg) skew(360deg);
  }
}
 
 
.loader:after {
  animation: animate2 2s infinite linear;
}
 
@keyframes animate2 {
  0% {
    transform: rotate(0) skew(0);
  }
   
  100% {
    transform: rotate(-180deg) skew(-360deg);
  }
}
.loaderArea {
  background: url(..//images/Preloadder.png);
  overflow: hidden;
  position: fixed;
  left: 0;
  top: 0;
  right:0;
  bottom:0;
  z-index: 100000;
}